
*{
  text-decoration: none;
}
body {
  background: rgb(122, 120, 120);
  color: black;
  font-family: helvetica;
  display: flex;
  flex-direction: column;
}
.navbar{
  display: flex; 
  align-items:center; 
  justify-content:space-between;
  background: rgb(98, 109, 84); 
  font-family: calibri; 
  padding-left: 10px;
  padding-right: 10px;
  margin-left: -8px;
  margin-right: -8px;
  margin-top: -8px;
}
h1{
  font-size: 30px; 
  font-weight: 600; 
  color: whitesmoke;
}
h2{
  text-align: centre;
  font-size: 30px; 
  font-weight: 600; 
  color: whitesmoke;
}
h3{
  border-bottom: 2px solid black;
  margin-top: -10px;
  text-align: center;
  margin-left: 80px;
  margin-right: 80px;
}
.navbar a{
  list-style: none; 
  display: inline-block;
  color: white; 
  font-size: 20px; 
  font-weight: bold; 
  margin-right: 40px;
}
.Page{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Page input{
  width: 100%;
  height: 30px;
  border-radius: 10px;
  border: none;
  text-align: center;
}
.se{
  border-radius: 10px;
  width: 50%;
  height:30px;
  text-align: center;
  margin-left: 40px;
}
.btn{
  height: 20px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  width: 100px;
  height: 30px;
  margin-left: 120px;
}
.btn:hover{
  opacity: 0.5;
  transition: 5ms;
}
fieldset{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  border-radius: 10px;
}
legend{
  text-align: center;
}
.btn1{
  height: 40px;
  width:100%;
  margin-bottom: 1rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.btn1:hover{
  opacity: 0.5;
  transition: 5ms;
}
.btn2{
  height: 40px;
  width:100%;
  margin-bottom: 1rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.btn2:hover{
  opacity: 0.5;
  transition: 5ms;
}
.btn3{
  height: 40px;
  width:100%;
  margin-bottom: 1rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.btn3:hover{
  opacity: 0.5;
  transition: 5ms;
}
@media(max-width:700px)
{
  h1{
    text-align: center;
  }
  h2{
    text-align: center;
  }
  h3{
    text-wrap: nowrap;
  }
  .navbar a{
    margin-right: 5px;
  }
}