
*{
  text-decoration: none;
}
body {
  background: rgb(122, 120, 120);
  color: black;
  font-family: helvetica;
  display: flex;
  flex-direction: column;
}
.navbar{
  display: flex; 
  align-items:center; 
  justify-content:space-between;
  background: rgb(98, 109, 84); 
  font-family: calibri; 
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 35px;
  margin-left: -8px;
  margin-right: -8px;
  margin-top: -8px;
}
h1{
  font-size: 30px; 
  font-weight: 600; 
  position: absolute;
  align-items: center;
  text-align: center;
  left: 45%;
  top: -20px;
  color: whitesmoke;
}
h2{
  text-align: center;
  font-size: 30px; 
  font-weight: 600; 
  color: whitesmoke;
}
h3{
  border-bottom: 2px solid black;
  margin-top: -10px;
  text-align: center;
  margin-left: 80px;
  margin-right: 80px;
}
.link{
  list-style: none; 
  display: flex;
  position: absolute;
  color: white; 
  font-size: 20px; 
  font-weight: bold; 
  right: 60px;
  top: 10px;
}
.navbar i{
  list-style: none; 
  display: inline-block;
  color: white; 
  font-size: 20px; 
  font-weight: bold; 
  margin-right: 40px;
  position: absolute;
  right: 0;
  visibility: hidden;
}
.Page{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Page input{
  width: 100%;
  height: 30px;
  border-radius: 10px;
  border: none;
  text-align: center;
  margin-top: 10px;
}
select{
  border-radius: 10px;
  width: 100%;
  height:30px;
  margin-top: 10px;
  text-align: center;
}
span{
  align-items: center;
}
.btn{
  height: 20px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  width: 100px;
  height: 30px;
  margin-left: 120px;
}
.btn:hover{
  opacity: 1;
  transition: 5ms;
  border:2px solid white;
  background-color: brown;
  color: white;
}
.fa-solid{
  color: black;
  font-size: small;
}
fieldset{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  border-radius: 10px;
}
legend{
  text-align: center;
}
.btn1{
  height: 40px;
  width:100%;
  margin-bottom: 1rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.btn1 a{
  color: black;
}
.btn1:hover{
  opacity: 1;
  transition: 5ms;
  border:2px solid white;
  background-color: brown;
  color: white;
}
.btn1 a:hover{
  transition: 5ms;
  color: white;
}
@media(max-width:700px)
{
  h1{
    text-align: center;
    left:35%;
  }
  h2{
    text-align: center;
  }
  h3{
    text-wrap: nowrap;
  }
  .link{
    visibility: hidden;
  }
  .navbar{
    padding-top: 20px;
    padding-bottom: 25px;
  }
  .navbar i{
    visibility: visible;
    cursor: pointer;
    margin-top: -8px;
  }
}