*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing:border-box ;
  text-align: center;
  font-family: Helvetica;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(122, 120, 120);
}
.Container{
  width: 500px;
  background: rgb(139, 126, 140);
  color: #fff;
  border-radius: 10px;
  padding: 20px 10px 20px;
  border: 2px solid rgba(255, 255, 255, .2);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  backdrop-filter: blur(20px);
  margin-top: 20px;
}
h1{
  font-size: 25px;
  text-align: center;
  color: black;
}
h2{
  font-size: 15px;
  text-align: center;
  color: black;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid #162938;
  padding: 10px;
}
.Container input{
  width: 150px;
}
.input-box input{
  background: transparent;
  border: none;
  outline: none;
  width: 38%;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 40px;
  padding: 10px 25px 10px 10px;
}
.input-box input:hover{
  background-color: darkgray;
  border: 2px solid brown;
}
.input-box input::placeholder{
  color: #fff;
}
.input-box1 input{
  background: transparent;
  border: none;
  outline: none;
  width: 80%;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 40px;
  padding: 10px 25px 10px 10px;
}
.input-box1 input::placeholder{
  color: #fff;
}
.input-box1 input:hover{
  background-color: darkgray;
  border: 2px solid brown;
}
.input-box1 label{
  color: black;
}
.select{
  color: black;
}
.select input{
  margin-left: -40px;
  margin-right: -60px;
  justify-content: space-evenly; 
}
.input-box3 input{
  width: 80%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 40px;
  padding: 10px 25px 10px 10px;
}
.input-box3 input::placeholder{
  color: #fff;
}
.input-box3 input:hover{
  background-color: darkgray;
  border: 2px solid brown;
  color: #162938;
}
.input-box4 input{
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 40px;
  width: 80%;
  padding: 10px 25px 10px 10px;
}
.input-box4 input:hover{
  background-color: darkgray;
  border: 2px solid brown;
  color: #162938;
}
.input-box4 input::placeholder{
  color: #fff;
}
.Container .btn{
  font-weight: 100;
  border-radius: 20px;
  border: 1px solid black;
  color: white;
  padding: 5px;
  width: 180px;
  cursor: pointer;
  margin-left: 34%;
  background: transparent;
  transition: 0.4s ease-in;
  margin-top: 15px;
  text-wrap: nowrap;
  text-decoration: none;
  text-align: center;
}
.Container .btn:hover{
  background-color: darkgray;
  border: 1px solid brown;
  color: #162938;
}
button{
  width: 80px;
  height: 30px;
  border-radius: 20px;
  border: none;
  font-weight:bold;
  color: black;
  margin-bottom: 10px;
  cursor: pointer;
}
button a{
  color: black;
}
.bottom{
  border-top: 2px solid #162938;
}
.Login a{
  color: black;
}
.Login a:hover{
  color: black;
  text-decoration: underline;
}
@media(max-width: 700px)
{
  .Container{
    flex-direction: column;
    width: 90%;
    text-align: center;
    margin: 10px;
  }
  .input-box1 input::placeholder{
    color: #fff;
  }
}