*{
    text-decoration: none;
}
.Navbar{
    background: rgb(98, 109, 84); 
    font-family: calibri; 
    padding-left: 10px;
    padding-right: 10px;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -8px;
    display: flex;
    justify-content: space-between;
    height: 50px;
}
.logo {
    font-size: 30px; 
    font-weight: 600; 
    color: whitesmoke;
}
.detail input{
    list-style: none; 
    display: inline-block;
    margin-right: 10px;
    border-radius: 40px;
    margin-top: 8px;
    height: 30px;
    text-align: center;
    border: none;
}
.bt{
    background-color:white;
    margin-right: 20px;
    border-radius: 40px;
    border: none;
    height: 30px;
    width: 60px;
    visibility: visible;
}
.bt a{
    color: black;
}
.bt:hover{
    opacity: 0.5;
    transition: 5ms;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 10%;
    margin-left: 30%;
    background: rgb(122, 120, 120);
    color: black;
    font-family: helvetica;
    padding: 20px 30px;
    border-radius: 40px;
    width: 30%;
}
.container h2{
    border-bottom: 2px solid #162938;
}
.container .btn input{
    border-radius: 20px;
    border: none;
    width: 80%;
    text-align: center;
    color: black;
    height: 30px;
}
.butt{
    display: flex;
    flex-direction: column;
    border-top: 2px solid #162938;
}
.btn1{
    border-radius: 10px;
    border: none;
    height: 30px;
    margin-bottom: 10px;
    width: 50%;
    text-align: center;
    color: black;
    font-weight: bold;
    margin-left: 100px;
}
.btn1 a{
    color: black;
}
.btn2{
    background-color: blue;
    color: white;
    margin-right: 20px;
    border-radius: 10px;
    border: none;
    height: 30px;
    margin-left: 100px;
    width: 50%;
    cursor: pointer;
}
.btn2:hover{
    opacity: 0.5;
    transition: 5ms;   
}
@media(max-width:62em)
{
    .detail input,.bt{
        visibility: hidden;
    }
    .detail:hover .detail input{
        visibility: visible;
    }
        .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 10%;
    margin-left: 20%;
    background: rgb(122, 120, 120);
    color: black;
    font-family: helvetica;
    padding: 20px 30px;
    border-radius: 40px;
    width: 50%;
}
}